@model Emplaniapp.UI.Models.LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>
   
</style>

<div class="login-logo">
    <span class="glyphicon glyphicon-folder-close"></span>
    <h1>Emplaniapp</h1>
</div>

<h2 class="login-form-title">Iniciar Sesión</h2>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        <div class="password-wrapper">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "Password" })
            <span class="glyphicon glyphicon-eye-open toggle-password"></span>
        </div>
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <div class="forgot-password-link">
        @Html.ActionLink(
            "¿No recuerda su contraseña? Ingrese aquí",
            "ForgotPassword",
            "Account"
        )
    </div>

    <div class="form-group">
        <input type="submit" value="Ingresar" class="btn btn-primary btn-block" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('.toggle-password').click(function () {
                $(this).toggleClass('glyphicon-eye-open glyphicon-eye-close');
                var input = $("#Password");
                input.attr('type', input.attr('type') === 'password' ? 'text' : 'password');
            });
        });
    </script>
}
