@model Emplaniapp.Abstracciones.ModelosParaUI.EmpleadoDto

@{
    ViewBag.Title = "Editar Datos Personales";
}

<h2>Editar Datos Personales de @Model.nombre @Model.primerApellido</h2>

@using (Html.BeginForm("ActualizarDatosPersonales", "DatosPersonales", FormMethod.Post, new { id = "editForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.idEmpleado)

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.segundoNombre, "Segundo Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.segundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.segundoNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.primerApellido, "Primer Apellido", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.primerApellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.primerApellido, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.segundoApellido, "Segundo Apellido", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.segundoApellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.segundoApellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaNacimiento, "Fecha de Nacimiento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.fechaNacimiento, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.fechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cedula, "Cédula", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cedula, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cedula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numeroTelefonico, "Teléfono", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numeroTelefonico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numeroTelefonico, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.correoInstitucional, "Correo Electrónico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.correoInstitucional, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.correoInstitucional, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direccionFisica, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.direccionFisica, new { @class = "form-control", @rows = 3 })
                @Html.ValidationMessageFor(model => model.direccionFisica, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-top: 25px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar Cambios" class="btn btn-success" />
                <a href="@Url.Action("Detalles", new { id = Model.idEmpleado })" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
    </div>
}

<!-- Renderiza el modal de confirmación -->
@Html.Partial("_AdminPasswordModal")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var formToSubmit; // Variable para guardar la referencia al formulario

            $('form').on('submit', function (e) {
                // 1. Prevenir el envío y guardar la referencia
                e.preventDefault();
                formToSubmit = this; // 'this' es el formulario DOM que disparó el evento
                
                // 2. Limpiar y mostrar el modal
                $('#adminPasswordInput').val('');
                $('#adminPasswordError').hide();
                $('#adminPasswordModal').modal('show');
            });

            $('#confirmAdminPasswordBtn').on('click', function () {
                var password = $('#adminPasswordInput').val();
                if (!password) {
                    $('#adminPasswordError').text('La contraseña no puede estar vacía.').show();
                    return;
                }

                // 3. Validar la contraseña
                $.ajax({
                    url: '@Url.Action("ValidateAdminPassword", "DatosPersonales")',
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                        password: password
                    },
                    success: function (response) {
                        if (response.success) {
                            // 4. Si es correcta, enviar el formulario guardado
                            $('#adminPasswordModal').modal('hide');
                            if (formToSubmit) {
                                formToSubmit.submit();
                            }
                        } else {
                            $('#adminPasswordError').text(response.message || 'Contraseña incorrecta.').show();
                        }
                    },
                    error: function () {
                        alert('Error de comunicación con el servidor.');
                        $('#adminPasswordModal').modal('hide');
                    }
                });
            });

            $('#cancelAdminPasswordBtn').on('click', function() {
                $('#adminPasswordModal').modal('hide');
            });
        });
    </script>
} 