@model Emplaniapp.UI.Controllers.DatosLaboralesViewModel

@{
    ViewBag.Title = "Editar Datos Laborales";
}

<div class="container">
    <!-- Navegación de retorno -->
    <div class="row">
        <div class="col-md-12">
            <p>
                @Html.ActionLink("< Volver a datos del empleado", "Detalles", new { id = Model.IdEmpleado }, new { @class = "btn btn-link" })
            </p>
        </div>
    </div>

    <!-- Título -->
    <div class="row">
        <div class="col-md-12">
            <h2>Editar Datos Laborales</h2>
            <hr />
        </div>
    </div>

    <!-- Formulario de edición -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Información Laboral</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.IdEmpleado)

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.NumeroOcupacion, "Nº Ocupación", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.NumeroOcupacion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NumeroOcupacion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Cargo, "Cargo", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.Cargo, (IEnumerable<SelectListItem>)ViewBag.Cargos, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FechaIngreso, "Fecha de Ingreso", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                    @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FechaSalida, "Fecha de Salida", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.FechaSalida, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                    @Html.ValidationMessageFor(model => model.FechaSalida, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.InicioVacaciones, "Inicio Vacaciones", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.InicioVacaciones, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                    @Html.ValidationMessageFor(model => model.InicioVacaciones, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                                    <a href="@Url.Action("Detalles", new { id = Model.IdEmpleado })" class="btn btn-default">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} 