@model Emplaniapp.UI.Models.DatosLaboralesViewModel

@{
    ViewBag.Title = "Editar Datos Laborales";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Editar Datos Laborales</h2>
            <hr />
        </div>
    </div>

    @using (Html.BeginForm("EditarDatosLaborales", "DatosPersonales", FormMethod.Post, new { @class = "form-horizontal", id = "editForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IdEmpleado)

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroOcupacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroOcupacion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdCargo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdCargo, (SelectList)ViewBag.Cargos, "Seleccione un cargo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdCargo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaIngreso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FechaIngreso, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaSalida, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaSalida, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.FechaSalida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InicioVacaciones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InicioVacaciones, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.InicioVacaciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-top: 25px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a href="@Url.Action("Detalles", "DatosPersonales", new { id = Model.IdEmpleado })" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
    }

    <!-- Renderiza el modal de confirmación -->
    @Html.Partial("_AdminPasswordModal")

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var formToSubmit; // Variable para guardar la referencia al formulario

            $('form').on('submit', function (e) {
                // 1. Prevenir el envío y guardar la referencia
                e.preventDefault();
                formToSubmit = this; // 'this' es el formulario DOM que disparó el evento
                
                // 2. Limpiar y mostrar el modal
                $('#adminPasswordInput').val('');
                $('#adminPasswordError').hide();
                $('#adminPasswordModal').modal('show');
            });

            $('#confirmAdminPasswordBtn').on('click', function () {
                var password = $('#adminPasswordInput').val();
                if (!password) {
                    $('#adminPasswordError').text('La contraseña no puede estar vacía.').show();
                    return;
                }

                // 3. Validar la contraseña
                $.ajax({
                    url: '@Url.Action("ValidateAdminPassword", "DatosPersonales")',
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                        password: password
                    },
                    success: function (response) {
                        if (response.success) {
                            // 4. Si es correcta, enviar el formulario guardado
                            $('#adminPasswordModal').modal('hide');
                            if (formToSubmit) {
                                formToSubmit.submit();
                            }
                        } else {
                            $('#adminPasswordError').text(response.message || 'Contraseña incorrecta.').show();
                        }
                    },
                    error: function () {
                        alert('Error de comunicación con el servidor.');
                        $('#adminPasswordModal').modal('hide');
                    }
                });
            });

            $('#cancelAdminPasswordBtn').on('click', function() {
                $('#adminPasswordModal').modal('hide');
            });
        });
    </script>
} 