@using Emplaniapp.Abstracciones.ModelosParaUI;
@model Tuple<EmpleadoDto, LiquidacionDto>

@{
    ViewBag.Title = $"{Model.Item1.nombre} {Model.Item1.primerApellido} {Model.Item1.segundoApellido}";
    var seccionActiva = ViewBag.Seccion ?? "Liquidaciones";
}

<!-- Estilos -->
<link type="text/css" href="@Href("~/Content/EstilosDatos.css")" rel="Stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<div class="container">

    @Html.ActionLink("< Volver a Hoja Resumen", "listarHojaResumen", "HojaResumen", null, new { @class = "btn btn-outline-secondary mb-3" })

    <!-- Mensaje de éxito -->
    @if (TempData["Mensaje"] != null)
    {
        <div class="alert alert-success">
            @TempData["Mensaje"]
        </div>
    }

    <!-- Título del empleado -->
    <div class="row mb-4">
        <div class="col-md-12">
            <h2>@Model.Item1.nombre @Model.Item1.primerApellido @Model.Item1.segundoApellido</h2>
        </div>
    </div>


    <!-- Enlaces de navegación -->
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="nav-enlaces">
                <a href="@Url.Action("Detalles", "DatosPersonales", new { id = Model.Item1.idEmpleado, seccion = "Datos personales" })" class="@(seccionActiva == "Datos personales" ? "active" : "")">Datos personales</a>
                <a href="@Url.Action("Detalles", "DatosPersonales", new { id = Model.Item1.idEmpleado, seccion = "Historial" })" class="@(seccionActiva == "Historial" ? "active" : "")">Historial</a>
                <a href="@Url.Action("DetallesRemu", "Remuneraciones", new { id = Model.Item1.idEmpleado })" class="@(seccionActiva == "Remuneraciones" ? "active" : "")">Remuneraciones</a>
                <a href="@Url.Action("Detalles", "Retenciones", new { id = Model.Item1.idEmpleado })" class="@(seccionActiva == "Retenciones" ? "active" : "")">Retenciones</a>
                <a href="@Url.Action("Detalles", "Liquidaciones", new { id = Model.Item1.idEmpleado })" class="@(seccionActiva == "Liquidacion" ? "active" : "")">Liquidación</a>
                <a href="@Url.Action("Detalles", "DatosPersonales", new { id = Model.Item1.idEmpleado, seccion = "Observaciones" })" class="@(seccionActiva == "Observaciones" ? "active" : "")">Observaciones</a>
            </div>
            <hr />
        </div>
    </div>


    <!-- Contenido -->

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3>Liquidación</h3>

    </div>

    <div class="row">
        <div class="col-md-12">
            @if (seccionActiva == "Liquidacion")
            {

                var item = Model.Item2;

                using (Html.BeginForm("GuardarDatos", "Liquidaciones", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => item.idEmpleado, new { @id = "idEmp" })

                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Fecha y Motivo </h5>

                                <div class="form-group datos-row">
                                    <div class="col-md-4">
                                        @Html.DisplayNameFor(model => item.fechaLiquidacion)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => item.fechaLiquidacion, "{0:yyyy-MM-dd}", new { @id = "fechaLiq", @class = "form-control", @type = "date" })
                                        @Html.ValidationMessageFor(model => item.fechaLiquidacion, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group datos-row">
                                    <div class="col-md-4">
                                        @Html.DisplayNameFor(model => item.motivoLiquidacion)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => item.motivoLiquidacion, new { @id = "motivo", @name = "selectorMotivo", @class = "form-control " })
                                        @Html.ValidationMessageFor(model => item.motivoLiquidacion, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group datos-row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">


                                        @if (ViewBag.MuestraLiq)
                                        {
                                            <a href="@Url.Action("AgregarDatos", "Liquidaciones", new { id = Model.Item1.idEmpleado, seccion = "Liquidacion" })"
                                               class="btn btn-outline-primary mb-3">Editar Datos</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("EditDatos", "Liquidaciones", new { id = Model.Item1.idEmpleado, seccion = "Liquidacion" })"
                                               class="btn btn-outline-primary mb-3">Editar Datos</a>
                                        }
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>

                            </div>

                            <!-- Cálculo generado -->
                            <div class="col-md-6">
                                <h5>Datos Generales</h5>

                                <div class="form-group datos-row">

                                    <div class="col-md-4">
                                        @Html.DisplayNameFor(model => item.salarioPromedio)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => item.salarioPromedio, new { @id = "salPromedio", htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group  datos-row">
                                    <div class="col-md-4">
                                        @Html.DisplayNameFor(model => item.aniosAntiguedad)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => item.aniosAntiguedad, new { @id = "aniosAntq", htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group datos-row">
                                    <div class="col-md-4">
                                        @Html.DisplayNameFor(model => item.diasPreaviso)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => item.diasPreaviso, new { @id = "diasPrev", htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group datos-row">
                                    <div class="col-md-4">
                                        @Html.DisplayNameFor(model => item.fechaPreaviso)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => item.fechaPreaviso, new { @id = "fechaPrev", htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group datos-row">
                                    <div class="col-md-4">
                                        @Html.DisplayNameFor(model => item.diasVacacionesPendientes)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => item.diasVacacionesPendientes, new { @id = "diasVac", htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <br /><br />
                                <h5>Cálculo de Liquidación</h5>
                                <div class="form-group datos-row">
                                    <div class="col-md-5">
                                        @Html.DisplayNameFor(model => item.pagoPreaviso)
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DisplayFor(model => item.pagoPreaviso, new { @id = "pagoPrev", htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>

                                <div class="form-group datos-row">
                                    <div class="col-md-5">
                                        @Html.DisplayNameFor(model => item.pagoAguinaldoProp)
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DisplayFor(model => item.pagoAguinaldoProp, new { @id = "pagoAgui", htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group datos-row">
                                    <div class="col-md-5">
                                        @Html.DisplayNameFor(model => item.pagoCesantia)
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DisplayFor(model => item.pagoCesantia, new { @id = "pagoCes", htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group datos-row">
                                    <div class="col-md-5">
                                        @Html.DisplayNameFor(model => item.remuPendientes)
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DisplayFor(model => item.remuPendientes, new { @id = "pagoRemPen", htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group datos-row">
                                    <div class="col-md-5">
                                        @Html.DisplayNameFor(model => item.costoLiquidacion)
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DisplayFor(model => item.costoLiquidacion, new { @id = "CostoLiq", htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                        <hr /> <br />
                        <div class="row">

                            @{
                                bool terminos = false;
                            }

                            <br />

                            <div class="form-group datos-row">
                                <div class="col-md-8 row">

                                    <div class="col-md-1">
                                        @Html.CheckBox("termsCheckbox", terminos, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <div class="col-md-11">
                                        @Html.Label("termsCheckbox", "Estoy de acuerdo con los cálculos de liquidación generados")
                                    </div>

                                    <div class="col-md-1"></div>
                                </div>
                                <div class="col-md-4 row">
                                    <input type="submit" id="submitButton" value="Procesar Liquidación" class="btn btn-outline-success" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {


        // Escuchar donde el checkbox se activa
        const checkbox = document.getElementById('termsCheckbox');
        const button = document.getElementById('submitButton');
        checkbox.addEventListener('change', function () {
            button.disabled = !this.checked;
        });


        var dropdown = document.getElementById('fechaLiq')
        dropdown.addEventListener('change', function () {
            var seleccionado = this.value;
            document.getElementById("fechaLiq").value = selectedValue;
            document.getElementById("Fechaliquida").value = selectedValue;
        });


        var dropdown = document.getElementById('motivo')
        dropdown.addEventListener('change', function () {
            var seleccionado = this.value;
            document.getElementById("motivo").value = selectedValue;
            //document.getElementById("Fechaliquida").value = selectedValue;
        })





        @*$("#CalcularLiq").("click", function () {
            var id = $('#idEmpleado').value;
            var fechaLiq = $('#fechaLiq').value;
            var motivo = $('#motivo').value;
            var salarioProm = $('#salPromedio').value;
            var aniosAntq = $('#aniosAntq').value;


            $ajax({
                url: '@Url.Action("CalcularLiquidacion", "Liquidaciones")',
                method: 'POST',
                data: {
                    id: id,
                    fechaLiq: fechaLiq,
                    razon: motivo
                },
                success: function (data) {
                    if (data.resultcount > 0) {
                        document.getElementById("salPromedio").value = data.salarioProm;
                        document.getElementById("aniosAntq").value = data.aniosAntq;
                    }
                    else {
                        document.getElementById("salPromedio").value = "0";
                        document.getElementById("aniosAntq").value = "0";
                    }
                }

            });
        });*@

    });

</script>


