@model Emplaniapp.Abstracciones.ModelosParaUI.LiquidacionDto

@{
    ViewBag.Title = "EditDatos";
    ViewBag.id = Html.ValueFor(model => model.idEmpleado);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-light text-primary mb-2" href=" @Url.Action("Detalles", "Liquidaciones", new {@id = ViewBag.id })">
    <i class="bi bi-arrow-left-short"></i>
    Volver
</a>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idLiquidacion)
    @Html.HiddenFor(model => model.idEmpleado)
    @Html.HiddenFor(model => model.salarioPromedio)
    @Html.HiddenFor(model => model.aniosAntiguedad)
    @Html.HiddenFor(model => model.diasPreaviso)
    @Html.HiddenFor(model => model.fechaPreaviso)
    @Html.HiddenFor(model => model.diasVacacionesPendientes)
    @Html.HiddenFor(model => model.pagoPreaviso)
    @Html.HiddenFor(model => model.pagoAguinaldoProp)
    @Html.HiddenFor(model => model.pagoCesantia)
    @Html.HiddenFor(model => model.pagoVacacionesNG)
    @Html.HiddenFor(model => model.remuPendientes)
    @Html.HiddenFor(model => model.costoLiquidacion)
    @Html.HiddenFor(model => model.idEstado, 2)

    <div class="form-horizontal">
        <div class="card card-block card-stretch">

            <!-- Título -->
            <div class="card-header m-0">
                <h3>Editar Datos de Liquidación</h3>
            </div>


            <!-- Cuerpo -->
            <div class="card-body">
                <div class="row">

                    <!-- Columna izquierda -->
                    <div class="col-md-6">
                        <div class="form-group datos-row">
                            <div class="col-md-4 datos-label">
                                @Html.DisplayNameFor(model => model.fechaLiquidacion)
                            </div>
                            <div class="col-md-6 datos-value">
                                @Html.TextBoxFor(model => model.fechaLiquidacion, "{0:yyyy-MM-dd}", new { @id = "fechaLiq", @class = "form-control", @type = "date" })
                                @Html.ValidationMessageFor(model => model.fechaLiquidacion, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="form-group datos-row">
                            <div class="col-md-4 datos-label">
                                @Html.DisplayNameFor(model => model.motivoLiquidacion)
                            </div>
                            <div class="col-md-6 datos-value">
                                @Html.DropDownListFor(model => model.motivoLiquidacion, (IEnumerable<SelectListItem>)ViewBag.MotivosLiq,
                                                  "Seleccione un motivo", new { @id = "motivo", @name = "selectorMotivo", @class = "form-control ", @required = true })
                                @Html.ValidationMessageFor(model => model.motivoLiquidacion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <!-- Columna derecha -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12 datos-label mb-2">
                                @Html.DisplayNameFor(model => model.observacionLiquidacion)
                            </div>
                            <div class="col-md-12 datos-value">
                                @Html.TextAreaFor(model => model.observacionLiquidacion, new { @id = "observs", @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.observacionLiquidacion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>
                <br />

                <!-- Botones -->
                <div class="row form-group text-center justify-content-center m-2">
                    <a class="btn btn-outline-secondary m-1" href=" @Url.Action("Detalles", "Liquidaciones", new {@id = ViewBag.id })">
                        Cancelar
                    </a>
                    <input type="submit" value="Modificar Datos" class="btn btn-primary m-1" />
                </div>


            </div>
        </div>
    </div>

}



