@using Emplaniapp.Abstracciones.ModelosParaUI;
@model Tuple<EmpleadoDto, List<RemuneracionDto>>

@{
    ViewBag.Title = $"{Model.Item1.nombre} {Model.Item1.primerApellido} {Model.Item1.segundoApellido}";
    var seccionActiva = ViewBag.SeccionRemu ?? "Remuneraciones";
}

<!-- Estilos -->
<link type="text/css" href="@Href("~/Content/EstilosDatos.css")" rel="Stylesheet" />

<div class="container">

    @Html.ActionLink("< Volver a Hoja Resumen", "listarHojaResumen", "HojaResumen", null, new { @class = "btn btn-outline-secondary mb-3" })

    <!-- Mensaje de éxito -->
    @if (TempData["Mensaje"] != null)
    {
        <div class="alert alert-success">
            @TempData["Mensaje"]
        </div>
    }

    <!-- Título del empleado -->
    <div class="row">
        <div class="col-md-12">
            <h2>@Model.Item1.nombre @Model.Item1.primerApellido @Model.Item1.segundoApellido</h2>
        </div>
    </div>


    <!-- Enlaces de navegación -->
    <div class="row">
        <div class="col-md-12">
            <div class="nav-enlaces">
                <a href="@Url.Action("Detalles", "DatosPersonales", new { id = Model.Item1.idEmpleado, seccion = "Datos personales" })" class="@(seccionActiva == "Datos personales" ? "active" : "")">Datos personales</a>
                <a href="@Url.Action("Detalles", "DatosPersonales", new { id = Model.Item1.idEmpleado, seccion = "Historial" })" class="@(seccionActiva == "Historial" ? "active" : "")">Historial</a>
                <a href="@Url.Action("DetallesRemu", "Remuneraciones", new { id = Model.Item1.idEmpleado })" class="@(seccionActiva == "Remuneraciones" ? "active" : "")">Remuneraciones</a>
                <a href="@Url.Action("Detalles", "Retenciones", new { id = Model.Item1.idEmpleado })" class="@(seccionActiva == "Retenciones" ? "active" : "")">Retenciones</a>
                <a href="@Url.Action("LiquidarEmpleado", "Liquidacion", new { id = Model.Item1.idEmpleado })" class="@(seccionActiva == "Liquidación" ? "active" : "")">Liquidación</a>
                <a href="@Url.Action("Detalles", "DatosPersonales", new { id = Model.Item1.idEmpleado, seccion = "Observaciones" })" class="@(seccionActiva == "Observaciones" ? "active" : "")">Observaciones</a>
            </div>
            <hr />
        </div>
    </div>


    <!-- Contenido -->
    <div class="row">
        <div class="col-md-12">
            @if (seccionActiva == "Remuneraciones")
            {

                <h2>ListarRemuneraciones</h2>

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Remuneración")
                            </th>
                            <th>
                                @Html.DisplayName("Fecha Actualización")
                            </th>
                            <th>
                                @Html.DisplayName("Horas Trabajadas")
                            </th>
                            <th>
                                @Html.DisplayName("Horas Extra")
                            </th>
                            <th>
                                @Html.DisplayName("Comisión")
                            </th>
                            <th>
                                @Html.DisplayName("Pago Quincenal")
                            </th>
                            <th>
                                @Html.DisplayName("Horas Feriado")
                            </th>
                            <th>
                                @Html.DisplayName("Horas Vacaciones")
                            </th>
                            <th>
                                @Html.DisplayName("Horas Licencia")
                            </th>
                            <th>
                                @Html.DisplayName("Estado")
                            </th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model.Item2)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombreTipoRemuneracion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechaRemuneracion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.horasTrabajadas)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.horasExtras)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.comision)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.pagoQuincenal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.horasFeriados)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.horasVacaciones)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.horasLicencias)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombreEstado)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id=item.idEmpleado }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.idEmpleado }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.idEmpleado })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            }
        </div>
    </div>
</div>










