@model IEnumerable<Emplaniapp.Abstracciones.ModelosParaUI.EmpleadoDto>

@{
    ViewBag.Title = "Hoja Resumen";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Hoja Resumen</h2>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Filtros y botones de acción -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar empleado..." id="buscarEmpleado">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Empleado")'">
                        <i class="glyphicon glyphicon-plus"></i> Nuevo Empleado
                    </button>
                </div>
            </div>

            <!-- Tabla de empleados -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Empleados Activos</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="tablaEmpleados">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Cédula</th>
                                    <th>Cargo</th>
                                    <th>Fecha Ingreso</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var empleado in Model)
                                {
                                    <tr>
                                        <td>@empleado.nombre @empleado.segundoNombre</td>
                                        <td>@empleado.primerApellido @empleado.segundoApellido</td>
                                        <td>@empleado.cedula</td>
                                        <td>@empleado.nombreCargo</td>
                                        <td>@empleado.fechaContratacion.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            @if (empleado.idEstado == 1)
                                            {
                                                <span class="label label-success">@empleado.nombreEstado</span>
                                            }
                                            else
                                            {
                                                <span class="label label-danger">@empleado.nombreEstado</span>
                                            }
                                        </td>
                                        <td>
                                            <a href="@Url.Action("VerDetalles", new { id = empleado.idEmpleado })" class="btn btn-info btn-sm">
                                                <i class="glyphicon glyphicon-user"></i> Ver Detalle
                                            </a>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                    <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="@Url.Action("Edit", "Empleado", new { id = empleado.idEmpleado })"><i class="glyphicon glyphicon-edit"></i> Editar</a></li>
                                                    @if (empleado.idEstado == 1)
                                                    {
                                                        <li><a href="#" class="text-danger" onclick="desactivarEmpleado(@empleado.idEmpleado)"><i class="glyphicon glyphicon-ban-circle"></i> Desactivar</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li><a href="#" class="text-success" onclick="activarEmpleado(@empleado.idEmpleado)"><i class="glyphicon glyphicon-ok-circle"></i> Activar</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Funcionalidad del buscador
            $("#buscarEmpleado").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#tablaEmpleados tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        // Función para desactivar un empleado (simulada)
        function desactivarEmpleado(id) {
            if (confirm("¿Está seguro que desea desactivar este empleado?")) {
                alert("Empleado desactivado (simulación)");
                // En un caso real, aquí haría una llamada AJAX para desactivar al empleado
            }
        }

        // Función para activar un empleado (simulada)
        function activarEmpleado(id) {
            if (confirm("¿Está seguro que desea activar este empleado?")) {
                alert("Empleado activado (simulación)");
                // En un caso real, aquí haría una llamada AJAX para activar al empleado
            }
        }
    </script>
} 