@model Emplaniapp.Abstracciones.ModelosParaUI.TipoRemuneracionDto

@{
    ViewBag.Title = "Agregar Remuneración";
}

<h2>Agregar Remuneración</h2>

@using (Html.BeginForm("CreateRemu", "VariablesFinancieras", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.nombreTipoRemuneracion, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreTipoRemuneracion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombreTipoRemuneracion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.porcentajeRemuneracion, "Porcentaje", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.porcentajeRemuneracion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.porcentajeRemuneracion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
    <br />
}

<div>
    @Html.ActionLink("Volver a Variables Financieras", "Index")
</div>
