@model Emplaniapp.Abstracciones.ModelosParaUI.TipoRemuneracionDto

@{
    ViewBag.Title = "Eliminar Remuneración";
}

<h2>Eliminar Remuneración</h2>

<h3>¿Desea eliminarla siguiente información?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreTipoRemuneracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreTipoRemuneracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.porcentajeRemuneracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porcentajeRemuneracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEstado)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <br />
            <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> 
            <br />
            <br />
            @Html.ActionLink("Volver a Variables Financieras", "Index")
        </div>
    }
</div>
