@model Emplaniapp.Abstracciones.ModelosParaUI.TipoRetencionDto

@{
    ViewBag.Title = "Eliminar Retención";
}

<h2>Eliminar Retención</h2>
<h3>¿Desea eliminar la siguiente información?</h3>
<hr />
<div class="delete-info-box">
    <div class="row mb-2">
        <div class="col-sm-4"><strong>@Html.DisplayNameFor(model => model.nombreTipoRetencion)</strong></div>
        <div class="col-sm-8">@Html.DisplayFor(model => model.nombreTipoRetencion)</div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-4"><strong>@Html.DisplayName("Porcentaje %")</strong></div>
        <div class="col-sm-8">@Html.DisplayFor(model => model.porcentajeRetencion)</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><strong>@Html.DisplayName("Estado")</strong></div>
        <div class="col-sm-8">
            @if (Model.idEstado == 1)
            {
                <span>Activo</span>
            }
            else
            {
                <span>Inactivo</span>
            }
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
    </div>
}

<style>
    .btn-secondary {
        margin-left: 10px;
    }
    .delete-info-box {
        padding: 20px;
        border: 1px solid #e3e3e3;
        background-color: #f9f9f9;
        border-radius: 5px;
        margin-bottom: 20px;
    }
</style>
