@using Emplaniapp.Abstracciones.ModelosParaUI;
@model Tuple<List<TipoRemuneracionDto>, List<TipoRetencionDto>>


@{
    ViewBag.Title = "Variables Financieras";
}

<h1>Variables Financieras</h1>
<br />
<br />

<!-- Remuneraciones ------------------------------------------------- -->
<div class="row">
    <div id="T_Remuneraciones" class="col-md-5">

        <h2>Remuneraciones</h2><br />
        <p>
            @Html.ActionLink("Agregar", "CreateRemu", "", new { @class = "btn btn-outline-primary" })
        </p>
        <table id="TablaTipoRemuneraciones" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Tipo")
                    </th>
                    <th>
                        @Html.DisplayName("Valor %")
                    </th>
                    <th>
                        @Html.DisplayName("Estado")
                    </th>
                    <th>
                        @Html.DisplayName("Acciones")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item1)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombreTipoRemuneracion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.porcentajeRemuneracion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idEstado)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "EditRemu", new { id = item.Id }, new { @class = "btn btn-outline-primary" }) 
                            <br />
                            @Html.ActionLink("Eliminar", "DeleteRemu", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
         
    </div>
    <div class="col-md-1"></div>


    <!-- Tipo de Retenciones ------------------------------------------------------------ -->

    <div id="T_Retenciones" class="col-md-5">

        <h2>Retenciones</h2><br />
        <p>
            @Html.ActionLink("Agregar", "CreateReten", "", new { @class = "btn btn-outline-primary" })
        </p>
        <table id="TablaTipoRetenciones" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Tipo")
                    </th>
                    <th>
                        @Html.DisplayName("Valor %")
                    </th>
                    <th>
                        @Html.DisplayName("Estado")
                    </th>
                    <th>
                        @Html.DisplayName("Acciones")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item2)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombreTipoRetencion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.porcentajeRetencion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idEstado)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "EditReten", new { id = item.Id }, new { @class = "btn btn-outline-primary" }) 
                            <br />
                            @Html.ActionLink("Eliminar", "DeleteReten", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
