@model Emplaniapp.UI.Models.RetencionViewModel

@using (Html.BeginForm("Delete", "Retenciones", FormMethod.Post, new { id = "formEliminarRetencion" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IdRetencion)
    @Html.HiddenFor(m => m.IdEmpleado)

    <div class="modal-header">
        <h5 class="modal-title">Confirmar Eliminación</h5>
    </div>
    <div class="modal-body">
        <p>
            ¿Seguro que deseas eliminar la retención del empleado
            <strong>@Model.NombreEmpleado</strong> con fecha
            <strong>@Model.FechaRetencion:dd/MM/yyyy</strong>?
        </p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger" onclick="location.reload()">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
}


