@* Views/Retenciones/Delete.cshtml *@
@model Emplaniapp.Abstracciones.ModelosParaUI.RetencionDto

@{
    ViewBag.Title = "Eliminar Retención";
}

<h2>Eliminar Retención #@Model.idRetencion</h2>

<div class="alert alert-danger">
    <p>¿Confirma que desea eliminar esta retención?</p>
    <dl class="row">
        <dt class="col-sm-3">Tipo</dt>
        <dd class="col-sm-9">@Model.nombreTipoRetencio</dd>
        <dt class="col-sm-3">Monto</dt>
        <dd class="col-sm-9">@Model.rebajo.ToString("C2")</dd>
        <dt class="col-sm-3">Fecha</dt>
        <dd class="col-sm-9">@Model.fechaRetencio:yyyy-MM-dd</dd>
        <dt class="col-sm-3">Estado</dt>
        <dd class="col-sm-9">@Model.nombreEstado</dd>
    </dl>

    @using (Html.BeginForm("Delete", "Retenciones", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.idRetencion)
        <button type="submit" class="btn btn-danger">Eliminar</button>
        @Html.ActionLink(
            "Cancelar",
            "Detalles",
            "Retenciones",
            new { id = Model.idEmpleado },
            new { @class = "btn btn-secondary ml-2" }
        )
    }
</div>
