@model Emplaniapp.Abstracciones.ModelosParaUI.TipoRetencionDto

@{
    ViewBag.Title = "Editar Retención";
}

<h2>Editar Retención</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.nombreTipoRetencion, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombreTipoRetencion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombreTipoRetencion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.porcentajeRetencion, "Porcentaje", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.porcentajeRetencion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.porcentajeRetencion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idEstado, "Estado", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.idEstado, new SelectList(new[]
            {
                new { Value = "1", Text = "Activo" },
                new { Value = "2", Text = "Inactivo" }
            }, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idEstado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <br />
            <input type="submit" value="Guardar Cambios" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
}

<div>
    <br />
    @Html.ActionLink("Volver a Variables Financieras", "Index")
</div>
