@model Emplaniapp.UI.Models.DatosFinancierosViewModel

@{
    ViewBag.Title = "Editar Datos Financieros";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Editar Datos Financieros</h2>
            <hr />
        </div>
    </div>

    @using (Html.BeginForm("EditarDatosFinancieros", "DatosPersonales", FormMethod.Post, new { @class = "form-horizontal", id = "editForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IdEmpleado)

        <div class="form-group">
            @Html.LabelFor(model => model.PeriocidadPago, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PeriocidadPago, (SelectList)ViewBag.PeriocidadesPago, "Seleccione una periodicidad", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PeriocidadPago, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalarioAprobado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SalarioAprobado, new { @class = "form-control", @type = "number", @step = "0.01" })
                @Html.ValidationMessageFor(model => model.SalarioAprobado, "", new { @class = "text-danger" })
                <span class="help-block text-muted">
                    <i class="fa fa-info-circle"></i> Puede modificar el salario según sea necesario.
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdTipoMoneda, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdTipoMoneda, (SelectList)ViewBag.TiposMoneda, "Seleccione una moneda", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdTipoMoneda, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CuentaIBAN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CuentaIBAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CuentaIBAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdBanco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdBanco, (SelectList)ViewBag.Bancos, "Seleccione un banco", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdBanco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-top: 20px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "Detalles", new { id = Model.IdEmpleado }, new { @class = "btn btn-default" })
            </div>
        </div>
    }

    <!-- Renderiza el modal de confirmación -->
    @Html.Partial("_AdminPasswordModal")

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var mainForm = $('#editForm');

            mainForm.on('submit', function (e) {
                e.preventDefault();
                
                // Usar función centralizada para mostrar el modal
                if (window.AdminPasswordModal && window.AdminPasswordModal.show) {
                    window.AdminPasswordModal.show();
                } else {
                    // Fallback si el modal centralizado no está disponible
                    $('#adminPasswordInput').val('');
                    $('#adminPasswordError').hide().text('');
                    $('#adminPasswordModal').modal('show');
                }
            });

            $('#confirmAdminPasswordBtn').on('click', function () {
                var password = $('#adminPasswordInput').val();
                var errorDiv = $('#adminPasswordError');
                var token = mainForm.find('input[name="__RequestVerificationToken"]').val();

                if (!password) {
                    errorDiv.text('La contraseña no puede estar vacía.').show();
                    return;
                }

                $.ajax({
                    url: '@Url.Action("ValidateAdminPassword", "DatosPersonales")',
                    method: 'POST',
                    data: {
                        __RequestVerificationToken: token,
                        password: password
                    },
                    success: function (response) {
                        if (response.success) {
                            $('#adminPasswordModal').modal('hide');
                            mainForm.off('submit').submit();
                        } else {
                            errorDiv.text(response.message).show();
                        }
                    },
                    error: function () {
                        errorDiv.text('Error de comunicación con el servidor.').show();
                    }
                });
            });
        });
    </script>
} 